main {
    margin: 30px 60px;
}

.poultry {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 0 20px;
    img {
        width: 240px;
        height: 220px;
    }
}